.topbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3rem;
}


.nav-wrapper {
    display: flex;
}

.iconColor {
    path {
        fill: #fff;
    }
}

.navbar-header {
    cursor: pointer;
    padding: 12px;
    transition: all .2s linear;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;



    & h3 {
        color: #fff;
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 400;
    }

    &:hover {
        background-color: #1d6db3;
    }

}