@import "rsuite/dist/rsuite.css";

.modal {
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
}

.tripstable-input{
    width: 200px!important;
    margin-bottom: 8px;
    margin-top: 8px;
    div{
        width: 250px;
    }
}

.second-tab{
    width: 1200px;
}