.info-list {
    display: flex;
    justify-content: space-evenly;

    p {
        margin: 0 !important;
    }

    .info-driver {
        display: flex;

        .driver {
            align-self: center;
            margin-right: 8px !important;
        }
    }
}

.second-tab {
    .rs-panel {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}